@CHARSET "ISO-8859-1";

#asc_adbox_posthead {
	position:relative;
	background-color:#f0f0f0;
	padding:5px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:20px;
	border:1px solid #cdcdcd;
	font-size:10px;
	text-align:center;
}

.asc_adcontent {
	font-size:16px;
}

.asc_adcontent_small {
	font-size: 6pt;
	display: inline;
}

.asc_adcontent_small a {
	color: #636363;
	font-size: 6pt;
}
